            li {
                margin-left: 20px;
                margin: 10px;
                margin-left: 20px;
            }
            
            ol {
                margin-top: 50px;
                list-style: lower-alpha;
            }
            
            h1 {
                text-align: center;
            }