html {
    font-size: 20px;
}

body {
    margin: 0px;
}

.container {
    padding: 30px;
    margin: 10px;
    border: solid;
    background-color: rgba(255, 115, 0, 0.171);
}

.h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    text-align: center;
    align-items: center;
}

.h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgray;
    background-repeat: ;
}

.link {
    text-decoration: none;
    text-decoration-color: red;
}

P {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    word-spacing: 2px;
    text-indent: 10px;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

//*activity 4*//
body {
    background-color: turquoise;
}

.contenu {
    margin: 10px;
    background-color: black;
    display: inline-flexbox;
    border: 1px solid;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 5px;
    color: black;
    background-color: white;
    text-align: center;
    height: 50%;
}

.path {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: justify;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: auto;
    text-transform: capitalize;
}

.img {
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.para {
    border: 1px;
    font-size: large;
    color: white;
}